.metadata
.recommenders
RemoteSystemsTempFiles
Servers
.classpath
.project
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.factorypath
.target
.tmp
.DS_Store
.DS_Store?
.idea